*{
    box-sizing: border-box;
    margin:0
}

body{
    
    background: #D4C6B2;
    font-family: "Roboto",sans-serif;
    font-style: normal;
}

/* Navigation */

.nav-container {

    

    height: 70px;

    background: #839867;
}

.footer-img {

    position: absolute;
    width: 1025px;
    height: 293px;
    left: 160px;
    top: 715px;
}

.logo {
    position: absolute;
    width: 168px;
    height: 39px;
    left: 140px;
    top: 16px;

    background: #456E3F;
    border-radius: 22px;
}

.first-nav{
    position: absolute;
    width: 69px;
    height: 29px;
    left: 1033px;
    top: 21px;

    background: #456E3F;
    border-radius: 22px;

}

.second-nav{
    position: absolute;
    width: 69px;
    height: 29px;
    left: 1132px;
    top: 21px;

    background: #456E3F;
    border-radius: 22px;

}

.third-nav{

    position: absolute;
    width: 69px;
    height: 29px;
    left: 1231px;
    top: 21px;

    background: #456E3F;
    border-radius: 22px;
}
