*{
    box-sizing: border-box;
    margin:0
}

body{
    
    background: #D4C6B2;
    font-family: "Roboto",sans-serif;
    font-style: normal;
}

/* Navigation */

.nav-container {    

    height: 70px;
    background: #839867;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul {
    display: flex;
}

.nav-items li {
    
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
    /* letter-spacing: 0.088em; */

    color: #295c22;
    
}

.nav-items li a{
    text-decoration: none;
    color: inherit;
}



.footer-img {
    display: none;
    position: absolute;
    width: 1025px;
    height: 293px;
    left: 160px;
    top: 715px;
}

.logo{
    /* position: absolute; */

    width: 230px;
    height: 50px;
    left: 89px;
    top: 0px;

    font-family : Avenir Black;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.088em;

    color: #456E3F;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

/* .first-nav{
    
    width: 69px;
    height: 29px;
    left: 1033px;
    top: 21px;

    background: #456E3F;
    border-radius: 22px;

}

.second-nav{
    
    width: 69px;
    height: 29px;
    left: 1132px;
    top: 21px;

    background: #456E3F;
    border-radius: 22px;

}

.third-nav{

    
    width: 69px;
    height: 29px;
    left: 1231px;
    top: 21px;

    background: #456E3F;
    border-radius: 22px;
} */

.header-logo{
    display: flex;
    align-items: center;
    height: 200px

}

.shrub-logo img {
    
    width: 199px;
    height: 161px;
    /* left: 109px;
    top: 97px; */

    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.header-title {

    display: flex;
    align-items: center;
    height: 80px;

    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.088em;

    color: #456E3F;


}

.wrapper-options {

    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;

}

.row {

    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option {

    max-width: 90%;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.option-text {
    position: relative;
    bottom: 100px;
    right: 30px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 152.19%;
    

    letter-spacing: 0.278em;

    color: #1B2A24;
}

.grid-wrapper {
    max-width: 1000px;
    margin: 40px auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    
}

.grid-item {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 22px;
    
}

/* .caption {
    font-size: 30px;
} */

.face img{
    max-width: 70%;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

