{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <a href="/">Shrub</a>
                    <!-- <img src="images/ShrubLogo.png" alt=""> -->
                </div>

                <ul class="nav-items">
                    <li>
                    
                        <a href="about">About Us</a>
                        
                    </li>

                    <li>
                        
                        <a href="#">Contact</a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>

    <div class="header-logo">
        <div class="wrapper">
            
            <div class="shrub-logo">
                <img src="{% static 'images/ShrubLogo.png' %}" alt="">
            </div>

        </div>
    </div>

    <div class="header-title">
        <div class="wrapper">
            <div class="purchase">
            
                Purchase ${{ price }} insurance <br> in the SF Bay Area the year of 2021?

            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="header-title">
        <div class="wrapper">
            <div class="purchase">
            
                Your quote is ${{ quote }}

            </div>
        </div>
    </div>

    <div class="wrapper-options">
        <div class="purchase">
            <div class="row">

                <div class="BA-select">
                    <a href="values"><img class="option" src="{% static 'images/cancel.png' %}" alt=""></a>

                    
                    
                </div>

                <div class="BA-select">
                    <a href="#"><img class="option" src="{% static 'images/confirm.png' %}" alt=""></a>
                    
                </div>

            </div>
        </div>

        

    </div>

    
    <div class="footer-img">
        <img src="{% static 'images/footer.svg' %}" alt="">
    </div>

</body>
</html>