{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    

</head>
<body>
    
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <a href="/">Shrub</a>
                    <!-- <img src="images/ShrubLogo.png" alt=""> -->
                </div>

                <ul class="nav-items">
                    <li>
                    
                        <a href="about">About Us</a>
                        
                    </li>

                    <li>
                        
                        <a href="#">Contact</a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>

    <div class="header-logo">
        <div class="wrapper">
            
            <div class="shrub-logo">
                <img src="{% static 'images/ShrubLogo.png' %}" alt="">
            </div>

        </div>
    </div>

    <div class="header-title">
        <div class="wrapper">

            Choose your insurance value
            
        </div>
    </div>

    <div class="wrapper-options">
        <div class="row">

            <form action="confirm" id ="5000Form" method="post" class="BA-select">
                {% csrf_token %}
                <input type="hidden" value="5,000" name="price">
                <a href="javascript:;"><img id="5000" class="option" src="{% static 'images/5000.png' %}" alt=""></a>

                
                
                
            </form>

            <div class="BA-select">
                <form action="confirm" id = "10000Form" method="post" class="BA-select">
                    {% csrf_token %}
                    <input type="hidden" value="10,000" name="price">
                    <a href="javascript:;"><img id="10000" class="option" src="{% static 'images/10000.png' %}" alt=""></a>
    
                    
                </form>
                
            </div>

        </div>

        <div class="row">

            <div class="BA-select">
                <form action="confirm" id = "20000Form" method="post" class="BA-select">
                    {% csrf_token %}
                    <input type="hidden" value="20,000" name="price">
                    <a href="javascript:;"><img id="20000" class="option" src="{% static 'images/20000.png' %}" alt=""></a>
                    
                    
                </form>
                

            </div>

            <div class="BA-select">
                <form action="confirm" id = "50000Form" method="post" class="BA-select">

                    {% csrf_token %}
                    <input type="hidden" value="50,000" name="price">
                    <a href="javascript:;"><img id="50000" class="option" src="{% static 'images/50000.png' %}" alt=""></a>
                    
                </form>
            </div>

        </div>

    </div>

    


    <div class="footer-img">
        <img src="{% static 'images/footer.svg' %}" alt="">
    </div>

<script src="{% static 'js/app.js' %}"></script>
</body>
</html>